<div id="post-page">
  <br>
  <div class="top-image">
    <img src="http://coschedule.com/blog/wp-content/uploads/blog-comments-to-connect-with-influencers.png" alt="" style="width: 700px; height: 350px">
  </div><br>


</div>
